


<div class="color-fill-banner">
</div>
<div class="profile-banner">
  <h2><strong><%= @user.first_name %> <%= @user.last_name %></strong></h2>

  <div class="avatardiv">
    <%= image_tag "face_placeholder.png", class: "avatar-square" %>
  </div>

</div>

<div class="profile-skill-banner">
  <h2><strong>Skills</strong></h2>
</div>
<div class="profile-edit-button">
  <% if current_user.id == @user.id %>
    <%= link_to "Edit my profile", edit_user_path(current_user), class: "btn btn-primary" %>
  <% end %>
</div>
