

<div class="container">
  <div class="color-fill-banner">
  </div>
  <div class="info-banner text-center" style="background: #f2f2f2">
    <div>
      <h4><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name %></h4>
      <h4><strong>Location:</strong> <%= @user.location %></h4>
    </div>
  </div>
  <div class="user-skill-banner">
  </div>
  <div class="button-center">
    <% if current_user.id == @user.id %>
      <%= link_to "Edit my profile", edit_user_path(current_user), class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
