<div class="content-wrapper">
  <div class="container">
    <br>
    <h1 class="text-center">My Projects</h1>
    <hr>
    <div class="row">
      <% if @projects.any? %>
        <% @projects.each do |project| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <%= render "projects/card", project: project %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h1 class="text-center"><%= "You have no projects at the moment" %></h1>
      <% end %>
    </div>
  </div>
</div>
