<div class="content-wrapper" style="background-color: #EEEEEE;">
  <h1 class="hidden">Dashboard</h1>
    <div class="container">
      <br>
      <div class="proj-dashboard" style="color: #595a5b;">
        <h2>My Projects</h2>
        <br style="color: black;">
        <div class="row">
          <% if @projects.any? %>
            <% @projects.each do |project| %>
              <div class="col-xs-12 col-sm-4">
                  <div class="card">
                    <%= render "projects/card", project: project %>
                  </div>
              </div>
            <% end %>
          <% else %>
            <h5 class="text-left" style="color: #595a5b; margin-left: 15px;">No Projects at this time</h5
            <% end %>
        </div>
          <div class="create">
            <% if policy(User).create? %>
              <%= link_to "Create New", new_project_path, class: "btn btn-primary btn-lg", style: "border: none; background-color: #2f3f59; border-radius: 5px;" %>
            <% end %>
          </div>
        </div>
        <hr style="color: black;">
        <br>

        <br>
          <h2 style="color: #595a5b;">Project Applicants</h2>
        <br>

      <!-- APPLICATIONS TO MY PROJECTS -->
      <div class="row">
        <% if @user_applications.empty? %>
          <h5 class="text-left" style="color: #595a5b; margin-left: 15px;">No Applications</h5>
        <% else %>
          <% @user_applications.each do |application| %>
            <% unless application.status.capitalize == "Declined" %>
              <%= render "pages/application_card", application: application, applicant: true %>
            <% end %>
          <% end %>
        <% end %>
      </div>
        <hr>
        <br>
      <h2 style="color: #595a5b;">My Role Applications</h2>
        <br>

      <!-- MY APPLICATIONS -->
      <div class="row">
        <% if current_user.applications.empty? %>
          <h5 class="text-left" style="color: #595a5b; margin-left: 15px;">No Applications</h5>
        <% else %>
          <% @applications.each do |application| %>
            <%= render "pages/application_card", application: application, applicant: false %>
          <% end %>
        <% end %>
      </div>
      <br>
    </div>
</div>
