<div class="top-banner">
    <div>
      <h2><strong>StartShare</strong></h2>
    </div>
    <div>
      <p>Connect with potential collaborators!</p>
    </div>
</div>

<div class="container info-banner">
  <div>


  </div>
</div>






