<% if project.photo %>
  <% photo = cl_image_path project.photo.path %>
<% else %>
  <% photo = image_path 'background.jpg' %>
<% end %>

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= photo %>');">
  <div class="card-category">Projects</div>
  <div class="card-description">
    <h2><%= project.name %></h2>
    <p><%= project.summary %></p>
  </div>
  <%= link_to "", project_path(project), class: "card-link"  %>
</div>

