<div class="content-wrapper" style="background-color: #EEEEEE;">
  <div class="container">
    <br>
    <h1 class="text-center" style="color: #595a5b">Available Projects</h1>
    <hr>
    <div class="row">
        <% @projects.each do |project| %>
          <div class="col-xs-12 col-sm-4">

              <%= render "projects/card", project: project %>

          </div>
        <% end %>
    </div>
  </div>
</div>
