<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="banner-show" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'background.jpg' %>'); height: 100px; background-size: cover; background-position: center center; margin-top: 7px; ">
      </div>
        <div class="info text-center" style="background: #f2f2f2";>

        <%# if @user.photo == nil %>
          <%#= image_tag "face_placeholder.png", class: "avatar-square" %>
        <%# else %>
          <%#= cl_image_tag @user.photo.path, class: "avatar-square" %>
        <%# end %>

        <h3><strong>Name:</strong> <%= @project.name %> </h3>
        <h3><strong>Summary:</strong> <%= @project.summary %></h3>
    </div>
  </div>
</div>
