.footer {
  padding: 20px;
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #29323c, #485563);
  background: -o-linear-gradient(left, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}
.footer a {
  color: grey;
  font-size: 27px;
  padding: 0 10px;
}
.footer p {
  margin-top: 15px;
}
