<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
  <div class="card-category">project.name</div>
  <div class="card-description">
    <h2><%= @project.role.name %></h2>
    <p><%= @project.role.summary %></p>
  </div>
</div>
