<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">

  <div class="card-category"><strong><%= role.project.name %></strong></div>
  <div class="card-description">
    <h2><%= role.name %></h2>
    <p><%= role.description %></p>
  </div>

</div>
