<h1>Roles#new</h1>
<p>Find me in app/views/roles/new.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@project, @role] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
