.chat-container {
  background-color: white;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding: 10px;
}

.messages-container {
  // height: 80%;
}
.message-input {
  // height: 20%;
  // position: absolute;
  // bottom: 0px;
}
