.search-card {
  display: flex;
  width: 750px;
  margin: 10px auto;
  background-color: #F7f7f7;
  padding: 10px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.search-card-img {
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}
.search-card-control {
  margin-right: 20px;
  margin-top: 15px;
}
.search-card-content {
  flex: 1 0 auto;
}
