.edit-wrapper {
  width: 100vw;
  margin: auto;
}

.home-wrapper {
  width: 100vw;
  height: 100vh;
  margin-top: none;
  padding: none;
  align-content: center;
  background-size: cover !important;
}
